/* -----------------FONT----------------- */

@import 'css/font.css';

/* -----------------NORMALIZE----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Releway", Arial, sans-serif;
  font-size: 1.2rem;
}

#fullscreen-video-bg, #fullscreen-video-bg--overlay{
  display: none;
}

/* -----------------TITLE----------------- */


.name--green {
  font-size: 4.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name--grey {
  font-size: 4.3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name__subtitle {
  font-size: 2rem;
}


/* -----------------GRID----------------- */

.wrapper {
  display: grid;
  grid-template-columns: 37.27% 62.73%;
  grid-template-rows: minmax(33rem, max-content) 1.02fr 0.169fr 1.625fr 0.237fr 0.479fr;
  grid-template-areas:
  	"pic name"
  	"contact formation"
  	"description formation"
  	"description experiences"
  	"description recommandations"
    "hobbies recommandations";
}

.pic__element {
  display: block;
  margin: 6.4rem auto 4rem auto;
}

.pic__element img {
  width: auto;
  max-height: 100%;
}

#pic {
  grid-area: pic;
  padding: 0;
}

#name {
  grid-area: name;
  padding: 11.9rem 6.5rem 12.1rem 6.5rem;
}

#formation {
  grid-area: formation;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#experiences {
  grid-area: experiences;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#recommandations {
  grid-area: recommandations;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#description {
  grid-area: description;
}

#hobbies {
  grid-area: hobbies;
}

#contact {
  grid-area: contact;
}

/* -----------------FLEXBOX----------------- */

#formation .containerA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 45.6rem;
}

#experiences .containerA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 62.4rem;
}

.containerB {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 21.4rem;
}
    
.event {
  width: 33.4rem;
  margin: 0.5rem 0 5rem 3rem;
}

.event--place {
  font-weight: bold;
  text-transform: uppercase;
}

.event--workplace {
  line-height: 4.4rem;
}

/* -----------------TITLE H2----------------- */

.title_aside {
  text-align: center;
  padding: 1.2rem 0;
}

#description .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#hobbies .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#contact .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#contact p:nth-child(n+2) {
  margin-top: 2.4rem;
}

.title_section {
  display: flex;
  align-items: center;
  margin-bottom: 7.2rem;
}

/* -----------------ICON----------------- */

#hobbies_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#hobbies__reading, #hobbies__basketball, #hobbies__swimming {
  height: 6.6rem;
}

#hat, #suitcase, #pen {
  height: 4.3rem;
  margin-right: 3.6rem;
}

.double_point {
  height: 1.2rem;
  margin-right: 1.8rem;
}

.point {
  height: 1.2rem;
  margin-right: 1.8rem;
}

/* -----------------MEDIA QUERRIES----------------- */

@media only screen and (max-width: 850px) {
  
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, max-content);
    grid-template-areas: 
      "pic"
      "name"
      "description"
      "experiences"
      "formation"
      "recommandations"
      "hobbies"
      "contact";
  }

  #name {
    grid-area: name;
    padding: 6.5rem;
  }

  #formation {
    overflow-y: unset;
    height: max-content;
  }
  
  #experiences {
    overflow-y: unset;
    height: max-content;
  }

  .containerA, .containerB {
    display: flex;
    flex-direction: column;
  }

  .date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 21.4rem;
    margin: 0 0 2.5rem 0;
  }

  .event {
    min-width: 15rem;
    margin: 0.5rem 0 5rem 3rem;
  }

  #description .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }
  
  #hobbies .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }
  
  #contact .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }

  #name h1{
    text-align: center;
  }
  
  .name__subtitle {
    text-align: center;
  }
  

}

@media only screen and (min-width: 1300px) {

  .wrapper {
    display: grid;
    grid-template-columns: 384px 806px;
    grid-template-rows: minmax(33rem, max-content) repeat(5, auto);
    grid-template-areas:
      "pic name"
      "contact formation"
      "description formation"
      "description experiences"
      "description recommandations"
      "hobbies recommandations";
    grid-gap: 2vw;
    margin: 2vw;
    justify-content: space-evenly;
  }
  
  .pic__element {
    display: block;
    margin: 6.4rem auto 4rem auto;
  }
  
  .pic__element img {
    width: auto;
    max-height: 100%;
  }
  
  #pic {
    grid-area: pic;
    padding: 0;
  }
  
  #name {
    grid-area: name;
    padding: 11.9rem 6.5rem 12.1rem 6.5rem;
  }
  
  #formation {
    grid-area: formation;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
  
  #experiences {
    grid-area: experiences;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
  
  #recommandations {
    grid-area: recommandations;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
  
  #description {
    grid-area: description;
  }
  
  #hobbies {
    grid-area: hobbies;
  }
  
  #contact {
    grid-area: contact;
  }

  #fullscreen-video-bg{
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    opacity: 0.2;
  }

  #fullscreen-video-bg video{
    min-height: 100%;
    min-width: 100%;
  }

  #fullscreen-video-bg--overlay{
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(200,230,201);
    background: -moz-radial-gradient(circle, rgba(200,230,201,1) 0%, rgba(102,187,106,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(200,230,201,1) 0%, rgba(102,187,106,1) 100%);
    background: radial-gradient(circle, rgba(200,230,201,1) 0%, rgba(102,187,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8e6c9",endColorstr="#66bb6a",GradientType=1);
    opacity: 0.6;
  }
}