/* -----------------FONT----------------- */

@import 'css/font.css';

/* -----------------NORMALIZE----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Releway", Arial, sans-serif;
  font-size: 1.2rem;
}

/* -----------------TITLE----------------- */


.name--green {
  font-size: 4.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name--grey {
  font-size: 4.3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name__subtitle {
  font-size: 2rem;
}


/* -----------------GRID----------------- */

.wrapper {
  display: grid;
  grid-template-columns: 37.27vw 62.73vw;
  grid-template-rows: minmax(33rem, max-content) 1.02fr 0.169fr 1.625fr 0.237fr 0.479fr;
  grid-template-areas:
  	"id name"
  	"contact formation"
  	"description formation"
  	"description experiences"
  	"description recommandation"
    "hobbies recommandation";
}

.id__pic {
  display: block;
  margin: 6.4rem auto 4rem auto;
}

.id__pic img {
  width: auto;
  max-height: 100%;
}

#id {
  grid-area: id;
  padding: 0;
}

#name {
  grid-area: name;
  padding: 11.9rem 6.5rem 12.1rem 6.5rem;
}

#formation {
  grid-area: formation;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#experiences {
  grid-area: experiences;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#recommandation {
  grid-area: recommandation;
  padding: 2.7rem 5.5rem 5.1rem 6.5rem;
}

#description {
  grid-area: description;
}

#hobbies {
  grid-area: hobbies;
}

#contact {
  grid-area: contact;
}

/* -----------------FLEXBOX----------------- */

#formation .containerA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 45.6rem;
}

#experiences .containerA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 62.4rem;
}

.containerB {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 22.58%;
}
    
.event {
  width: 54.84%;
  margin: 0 0 5rem 12.7rem;
}

/* -----------------TITLE H2----------------- */

.title_aside {
  text-align: center;
  padding: 1.2rem 0;
}

#description .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#hobbies .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#contact .title_aside_text {
  padding: 3.6rem 4.9rem 3.9rem 4.9rem;
}

#contact p:nth-child(n+2) {
  margin-top: 2.4rem;
}

.title_section {
  display: flex;
  align-items: center;
  margin-bottom: 7.2rem;
}

/* -----------------ICON----------------- */

#hobbies_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#hobbies__reading, #hobbies__basketball, #hobbies__swimming {
  height: 6.6rem;
}

#hat, #suitcase, #pen {
  height: 4.3rem;
  margin-right: 3.6rem;
}

.double_point {
  height: 1.2rem;
  margin-right: 1.8rem;
}

.point {
  height: 1.2rem;
  margin-right: 1.8rem;
}

/* -----------------MEDIA QUERRIES----------------- */

@media only screen and (max-width: 850px) {
  
  .wrapper {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(8, max-content);
    grid-template-areas: 
      "id"
      "name"
      "description"
      "experiences"
      "formation"
      "recommandation"
      "hobbies"
      "contact";
  }

  #name {
    grid-area: name;
    padding: 6.5rem;
    align-content: center;
  }

  #formation {
    overflow-y: visible;
    height: max-content;
  }
  
  #experiences {
    overflow-y: visible;
    height: max-content;
  }

  .containerA, .containerB {
    display: flex;
    flex-direction: column;
  }

  .date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85.18%;
  }
  
  .date {
    width: 85.18%;
    margin: 0 0 2.5rem 0;
  }

  .event {
    width: 85.18%;
    margin: 0 0 5rem 0;
  }

  #description .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }
  
  #hobbies .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }
  
  #contact .title_aside_text {
    padding: 3.6rem 4.9rem 3.6rem 4.9rem;
  }

}