/* -----------------FONT----------------- */

@import 'css/font.css';

/* -----------------NORMALIZE----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Releway", Arial, sans-serif;
  font-size: 12pt;
  color: #404040;
}
  
/* -----------------TITLE----------------- */
  
  
.name--green {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color:#81c683
}
  
.name--grey {
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
}
  
h2 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.name__subtitle {
  font-size: 1.5em;
}

/* -----------------MEDIA QUERRIES----------------- */

@media only screen and (orientation: portrait) {
  
  .wrapper {
    grid-template-columns: 100vw;
    grid-template-rows: 1vh repeat(7, auto);
    grid-template-areas: 
    "id"
    "name"
    "description"
    "experiences"
    "formation"
    "recommandation"
    "hobbies"
    "contact";
  }

  #id {
    min-height: 328px;
    grid-area: id;
    padding-top: 19.5%;
    padding-bottom: 12.19%;
    text-align: center;
  }
  
  #name {
    grid-area: name;
    padding: 8%;
    text-align: center;
  }
  
  #formation {
    grid-area: formation;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
  
  #experiences {
    grid-area: experiences;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
  
  #recommandation {
    grid-area: recommandation;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
  
  #description {
    grid-area: description;;
  }
  
  #hobbies {
    grid-area: hobbies;
  }
  
  #contact {
    grid-area: contact;
  }

  /* -----------------FLEXBOX----------------- */
      
  .containerA, .containerB {
    display:flex;
    flex-direction: column;
  }
        
  .date {
    width: 85.18%;
  }
        
  .event {
    width: 85.18%;
    margin: 0 0 50px 0;
  }

  /* -----------------TITLE H2----------------- */

  .title_aside {
    text-align: center;
    padding: 0.8em 0;
  }
  
  #description .title_aside_text {
    padding: 3rem 11.97% 3rem 12.76%;
  }
  
  #hobbies .title_aside_text {
    padding: 3rem 16.4% 3rem 16.4%;
  }
  
  #contact .title_aside_text {
    padding: 3rem 11.97% 3rem 12.76%;
  }
  
  #formation h2, #experiences h2, #recommandation h2 {
    margin-bottom: 4.5em;
    padding-left: 5em;
  }

}

@media only screen and (orientation: landscape) {

  .wrapper {
    display: grid;
    grid-template-columns: 37.27vw 67.73vw;
    grid-template-rows: minmax(330px, max-content) 1.02fr 0.169fr 1.625fr 0.237fr 0.479fr;
    grid-template-areas:
    "id name"
    "contact formation"
    "description formation"
    "description experiences"
    "description recommandation"
    "hobbies recommandation";
  }
      
  #id {
    min-height: 328px;
    grid-area: pics;
    padding-top: 19.5%;
    padding-bottom: 12.19%;
    text-align: center;
  }
      
  #name {
    grid-area: name;
    padding: 8%;
  }
      
  #formation {
    grid-area: formation;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
      
  #experiences {
    grid-area: experiences;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
      
  #recommandation {
    grid-area: recommandation;
    padding: 2.3rem 6.82% 4.25rem 8%;
  }
      
  #description {
    grid-area: description;
  }
      
  #hobbies {
    grid-area: hobbies;
  }
      
  #contact {
    grid-area: contact;
  }
      
  /* -----------------FLEXBOX----------------- */
      
  .containerA, .containerB {
    display:flex;
    flex-direction: column;
  }
          
  .date {
    width: 22.58%;
  }
          
  .event {
    width: 54.84%;
    margin: 0 0 50px 26.8%;
  }

  /* -----------------TITLE----------------- */

  .title_aside {
    text-align: center;
    padding: 0.8em 0;
  }
      
  #description .title_aside_text {
    padding: 3rem 11.97% 3rem 12.76%;
  }
      
  #hobbies .title_aside_text {
    padding: 3rem 16.4% 3rem 16.4%;
  }
      
  #contact .title_aside_text {
    padding: 3rem 11.97% 3rem 12.76%;
  }
      
  #formation h2, #experiences h2, #recommandation h2 {
    margin-bottom: 4.5em;
    padding-left: 5em;
  }

}