/* -----------------FONT----------------- */

@import 'css/font.css';

/* -----------------NORMALIZE----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
  
body {
  font-family: "Releway", Arial, sans-serif;
  font-size: 1.2rem;
}

#fullscreen-video-bg, #fullscreen-video-bg--overlay{
  display: none;
}
  
/* -----------------TITLE----------------- */
  
  
.name--green {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name--grey {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

#name h1{
  text-align: center;
}

h2 {
  font-size: 1.39rem;
  font-weight: bold;
  text-transform: uppercase;
}

.name__subtitle {
  margin-top: 1.81rem;
  font-size: 1.39rem;
  text-align: center;
}

#name div{
  height: 0.2rem;
  width: 7.7rem;
  margin-top: 0.8rem;
}

/* -----------------MEDIA QUERRIES----------------- */

@media only screen and (orientation: portrait) {
  
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "pic"
    "name"
    "description"
    "experiences"
    "formation"
    "recommandations"
    "hobbies"
    "contact";
  }

  .pic__element {
    display: block;
    margin: 6.4rem auto 4rem auto;
  }
  
  .pic__element img {
    width: auto;
    max-height: 100%;
  }
  
  #pic {
    grid-area: pic;
    padding: 0;
  }
  
  #name {
    grid-area: name;
    padding: 4rem;
  }
  
  #formation {
    grid-area: formation;
    padding: 2.7rem 2rem 5.1rem 2rem;
  }
  
  #experiences {
    grid-area: experiences;
    padding: 2.7rem 2rem 5.1rem 2rem;
  }
  
  #recommandations {
    grid-area: recommandations;
    padding: 2.7rem 2rem 5.1rem 2rem;
  }
  
  #description {
    grid-area: description;;
  }
  
  #hobbies {
    grid-area: hobbies;
  }
  
  #contact {
    grid-area: contact;
  }

  /* -----------------FLEXBOX----------------- */
      
  .containerA, .containerB {
    display:flex;
    flex-direction: column;
    padding-top: 4.7rem;
  }

  .containerB p{
    display: block;
    justify-content: space-around;
  }
  
  .containerB p:nth-child(n+2){
    margin-top: 4rem;
  }

  .recommandation--name{
    text-transform: uppercase;
  }
  
  .recommandation--informations{
    display: inline-block;
    margin-top: 1.1rem;
    line-height: 2.3rem;
  }
        
  .date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0;
  }
        
  .event {
    margin: 0 0 2.5rem .9rem;
  }

  .event--place {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .event--workplace {
    display: inline-block;
    margin: 1.6rem 0;
  }

  /* -----------------TITLE H2----------------- */

  .title_aside {
    text-align: center;
    padding: 1.2rem 0;
  }
  
  #description .title_aside_text {
    padding: 3.6rem 2rem 3.9rem 2rem;
  }
  
  #hobbies .title_aside_text {
    padding: 3.6rem 2rem 3.9rem 2rem;
  }
  
  #contact .title_aside_text {
    padding: 3.6rem 2rem 3.9rem 2rem;
  }

  #contact p:nth-child(n+2) {
    margin-top: 2.4rem;
  }
  
  .title_section {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;
  }

  /* -----------------ICON----------------- */

  #hobbies_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  #hobbies__reading, #hobbies__basketball, #hobbies__swimming {
    height: 6.6rem;
  }

  #hat, #suitcase, #pen {
    height: 2rem;
    margin-right: 2.4rem;
  }

  .double_point {
    height: 1.2rem;
    margin-right: .9rem;
  }
  
  .point {
    height: 1.2rem;
    margin-right: .9rem;
  }

  #name div{
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (orientation: landscape) {

  .wrapper {
    display: grid;
    grid-template-columns: 37.27% 62.73%;
    grid-template-rows: minmax(33rem, max-content) repeat(5, auto);
    grid-template-areas:
    "pic name"
    "contact formation"
    "description formation"
    "description experiences"
    "description recommandations"
    "hobbies recommandations";
  }
      
  .pic__element {
    display: block;
    margin: 6.4rem auto 4rem auto;
  }
  
  .pic__element img {
    width: auto;
    max-height: 100%;
  }
  
  #pic {
    grid-area: pic;
    padding: 0;
  }
  
  #name {
    grid-area: name;
    padding: 11.9rem 6.5rem 12.1rem 6.5rem;
  }
      
  #formation {
    grid-area: formation;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
      
  #experiences {
    grid-area: experiences;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
      
  #recommandations {
    grid-area: recommandations;
    padding: 2.7rem 5.5rem 5.1rem 6.5rem;
  }
      
  #description {
    grid-area: description;
  }
      
  #hobbies {
    grid-area: hobbies;
  }
      
  #contact {
    grid-area: contact;
  }
      
  /* -----------------FLEXBOX----------------- */
      
  .containerA, .containerB {
    display:flex;
    flex-direction: row;
    padding-top: 4.7rem;
  }

  .containerB p{
    display: block;
    width: 40%;
    justify-content: space-between;
  }
  
  .containerB p:nth-child(n+3){
    margin-top: 4rem;
  }

  .recommandation--name{
    text-transform: uppercase;
  }
  
  .recommandation--informations{
    display: inline-block;
    margin-top: 1.1rem;
    line-height: 2.3rem;
  }
  
  #experiences .containerA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .containerB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 21.4rem;
    margin: 0 0 2rem 0;
  }
          
  .event {
    margin: 0.5rem 0 5rem 3rem;
  }

  .event--place {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .event--workplace {
    display: inline-block;
    margin: 1.6rem 0;
  }

  /* -----------------TITLE----------------- */

  .title_aside {
    text-align: center;
    padding: 1.2rem 0;
  }
      
  #description .title_aside_text {
    padding: 3.6rem 4.9rem 3.9rem 4.9rem;
  }
      
  #hobbies .title_aside_text {
    padding: 3.6rem 4.9rem 3.9rem 4.9rem;
  }
      
  #contact .title_aside_text {
    padding: 3.6rem 4.9rem 3.9rem 4.9rem;
  }
  
  #contact p:nth-child(n+2) {
    margin-top: 2.4rem;
  }
  
  .title_section {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;
  }

  /* -----------------ICON----------------- */

  #hobbies_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  #hobbies__reading, #hobbies__basketball, #hobbies__swimming {
    height: 6.6rem;
  }

  #hat, #suitcase, #pen {
    height: 3rem;
    margin-right: 3.6rem;
  }
  
  .double_point {
    height: 1.2rem;
    margin-right: 1.8rem;
  }
  
  .point {
    height: 1.2rem;
    margin-right: 1.8rem;
  }

}