/* STYLE.CSS -- COLOR */

body {
  color: #404040;
}

.name--green {
  color:#81C784;
}

#id, #description, #hobbies, #contact {
  background: #81C784;
}

#name, #formation, #experiences, #recommandation {
  background: white;
}

.title_aside {
  background: #404040;
  color: #81C784;
}

.contact__mail--link:link {
  color: #404040;
  text-decoration: none;
}

.contact__mail--link:hover {
  color: #404040;
  text-decoration: none;
}

.contact__mail--link:visited {
  color: #404040;
  text-decoration: none;
}

.contact__mail--link:active {
  color: #404040;
  text-decoration: none;
}

.contact__adress--link:link {
  color: #404040;
  text-decoration: none;
}

.contact__adress--link:hover {
  color: #404040;
  text-decoration: none;
}

.contact__adress--link:visited {
  color: #404040;
  text-decoration: none;
}

.contact__adress--link:active {
  color: #404040;
  text-decoration: none;
}

.contact__website--link:link {
  color: #404040;
  text-decoration: none;
}

.contact__website--link:hover {
  color: #404040;
  text-decoration: none;
}

.contact__website--link:visited {
  color: #404040;
  text-decoration: none;
}

.contact__website--link:active {
  color: #404040;
  text-decoration: none;
}

/* ---------------ICONS SECTION--------------- */

#hat__top, #hat__rope, #hat__bottom, #suitcase__element, #pen__element {
  fill:#81C784;
}

#hat__background, #suitcase__background, #pen__background {
  fill:#FFFFFF;
  fill-opacity: 0;
}


/* ---------------ICONS ASIDE--------------- */

@keyframes fadein {
  0%{
    -webkit-fill-opacity: 0;
    fill-opacity: 0;
  }
  50%{
    -webkit-fill-opacity: 1;
    fill-opacity: 1;
  }
  to{
    -webkit-fill-opacity: 0;
    fill-opacity: 0;
  }
}

@keyframes pulse {
  0%{
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
  50%{
    -webkit-transform:scale3d(1.05,1.05,1.05);
    transform:scale3d(1.05,1.05,1.05)
  }
  to{
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
}

#hobbies__swimming:hover, #hobbies__basketball:hover, #hobbies__reading:hover {
  animation-name: pulse;
  animation-duration: 2s;
  animation-delay: alternate;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: alternate;
  -webkit-animation-timing-function: ease-in, ease-out;
  -webkit-animation-iteration-count: infinite;
}

#hobbies__swimming__background {
  fill:#FFFFFF;
  fill-opacity: 0;
}

#hobbies__swimming:hover #hobbies__swimming__background {
  animation-duration: 1.5s;
  animation-name: fadein;
  animation-delay: alternate;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fadein;
  -webkit-animation-delay: alternate;
  -webkit-animation-timing-function: ease-in, ease-out;
  -webkit-animation-iteration-count: infinite;
}

#hobbies__swimming__element {
  fill: #404040;
}

#hobbies__basketball__ball-background {
  fill:#FFFFFF;
  fill-opacity: 0
}

#hobbies__basketball:hover #hobbies__basketball__ball-background {
  animation-duration: 1.5s;
  animation-name: fadein;
  animation-delay: alternate;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fadein;
  -webkit-animation-delay: alternate;
  -webkit-animation-timing-function: ease-in, ease-out;
  -webkit-animation-iteration-count: infinite;
}

#hobbies__basketball__ball-element, #hobbies__basketball__basket {
  fill: #404040;
}

#hobbies__reading__first__cover, #hobbies__reading__middle__cover, #hobbies__reading__last__cover {
  fill:#FFFFFF;
  fill-opacity: 0
}

#hobbies__reading:hover #hobbies__reading__first__cover, #hobbies__reading:hover #hobbies__reading__middle__cover, #hobbies__reading:hover #hobbies__reading__last__cover {
  animation-duration: 1.5s;
  animation-name: fadein;
  animation-delay: alternate;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fadein;
  -webkit-animation-delay: alternate;
  -webkit-animation-timing-function: ease-in, ease-out;
  -webkit-animation-iteration-count: infinite;
}

#hobbies__reading__first__book, #hobbies__reading__middle__book, #hobbies__reading__last__book, #hobbies__reading__background {
  fill: #404040;
}
/*
.title_aside_text {
  background-color: aqua;
}
*/